<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet href="/main.css">
        <title>Courses</title>
    </head>

    <body>
        <%- include('common/header'); %>
        <div class='content'>
            <h1>Course List</h1>
            <section class='dataSet'>
                <table class='data'>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Title</th>
                        <th>Course Enrollment</th>
                    </tr>
                    <tr>
                        <% courses.forEach(course => { %>
                            <tr>
                                <td><%- course.Crs_Code %></td>
                                <td><%- course.Crs_Title %></td>
                                <td><%- course.Crs_Enrollment %></td>
                            </tr>
                        <% }) %>
                    </tr>
                </table>
            </section>
        </div>
    </body>
</html>